<h1>All Posts</h1>

<div><%= link_to "New Posts", new_post_path %></div>
<ul>
  <% @posts.each do |post| %>
  <li>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p><%= Post.body_snippet(post.body) %></p>
  </li>
  <% end %>
</ul>

<%= paginate @posts %>
